stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - docker compose build


test-job:
  stage: test
  script:
    - echo "test passed"

deploy-job:
  stage: deploy
  script:
    - docker compose up -d