services:
  main:
    container_name: main
    build:
      context: .
    env_file:
      - .dev.env
    ports:
      - "80:5000"
    depends_on:
      - postgres
    restart: always
  postgres:
    container_name: postgres
    image: postgres:18.0-alpine
    restart: always
    env_file:
      - .dev.env
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=booking
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/data


volumes:
  postgres_data:
