services:
  main:
    container_name: main
    build:
      context: .
    env_file:
      - .dev.env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 5000:5000
    command: npm run start:dev
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
  postgres:
    container_name: postgres
    image: postgres:18
    env_file:
      - .dev.env
    environment:
      PG_DATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - ../2. Init Database:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    healthcheck: # Блядь, проверка готовности сервиса
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always


volumes:
  pgdata:
